div {
  text-align: center;
}

.jumbotron {
  background-image: url("/images/dictionary.png");
  background-size: 100%;
  color: #F5F5F5;
  margin-bottom:0
}

.navbar{
  margin-bottom:0;
  border-radius:0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}