extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")

      //- p // if ( loggedIn===false ){ window.location.href = '/'; }
      h1= 'Create Word'
      br
      input(type='text' placeholder='Word')
      br
      input(type='text' placeholder='Type your definition here...')
      br
      input(type='text' placeholder='Type an example of how it is used in a sentence...')
      br
      br
      button(onclick="addWord()") Create

    div(class="col-sm-4")

  //- script(src="./scripts/addWord.js")