extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")
      h1= 'Welcome'
      br
      p Dank Dictionary is a place to share word definitions online.<br><a href='/login'>Log in</a> to create new words!
      br
      <button onclick="goToCreateWordPage()">+</button>
      input(type="text" onchange="" placeholder="Type any word...")
      button(onclick="") Search

    div(class="col-sm-4")
