extends layout

block content
    p Dank Dictionary is a place full of dank definitions created by users. <a href='/login'>Log in</a> to create new words!
    a(href='/createWord') Create a new word
    br
    br
    input(type="text" onchange="" placeholder="Type any word...")
    button(onclick="") Search