doctype html
html
  head
    title= 'Dank Dictionary'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p List of all pages (for development)
    a(href='/') index
    br
    a(href='/register') register
    br
    a(href='/login') login
    br
    a(href='/createWord') createWord
    br
    br
    a(href='/test') test
    br
    a(href='/sampsa') sampsa

    h1= 'Dank Dictionary'
  block content