doctype html
html
  head
    title= 'Project Investor'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Project Investor
    br
    a(href='/test') Test Page
    br
    a(href='/sampsa') Sampsa page

    block content