extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")

      h1= 'Login'
      br
      input(type='text' placeholder='Username')
      br
      input(type='password' placeholder='Password')
      br
      button(onclick='') Sign in
      p Don't have an account? <a href="/register">Register here</a>

    div(class="col-sm-4")