extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")

      h1= 'Register'
      br
      input(type='text' placeholder='Username')
      br
      input(type='password' placeholder='Password')
      br
      input(type='password' placeholder='Password again')
      br
      button(onclick='') Sign up
      p Already have an account? <a href="/login">Log in here</a>

    div(class="col-sm-4")

