extends layout

block content
  p Register
  input(type='text' placeholder='Username')
  br
  input(type='password' placeholder='Password')
  br
  input(type='password' placeholder='Password again')
  br
  button(onclick='') Sign up
  p Already have an account? <a href="/login">Log in here</a>