extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")

      div
        table(class="table")
            tr
              th(style="text-align: center") Word
              th(style="text-align: center") Definition  
            each word, id in words
              tr
                td #{word.word}
                td #{word.definition}

    div(class="col-sm-4")
