extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")
      h1= 'Search results for "'+searchValue+'".'
      br
      <button onclick="goToCreateWordPage()">+</button>
      input(id="searchInput" type="text" onchange="" placeholder="Type any word...")
      button(onclick="search()") Search

    div(class="col-sm-4")
