extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")
      h1= 'Test Page'
      p This is an area used for testing code
      ul
      each word in words
        li= word.word + ': ' + word.word

    div(class="col-sm-4")