extends layout

block content
  h1= 'Test Page'
  p This is an area used for testing code
  img(src='images/project-invest.png')
  ul
    each winner in winners
      li= winner.year + ': ' + winner.team